__pycache__/
.ipynb_checkpoints/
./Data/
.DS_Store/
./papers./Code/models/LDA/lda_10.state.sstats.npy
./Code/models/LDA/lda_10.expElogbeta.npy
./Code/models/LDA/lda_25.state.sstats.npy
/Code/models/word2vec/train.json
./Code/models/word2vec/word2vec_300_case_kept.model.trainables.syn1neg.npy
./Code/models/word2vec/word2vec_300_case_kept.model.wv.vectors.npy
./Code/models/word2vec/word2vec_case_kept.model.trainables.syn1neg.npy
./Code/models/word2vec/word2vec_case_kept.model.wv.vectors.npy
./Data/kaggle-fake-news/fake.csv
./Data/FakeNewsNet-master/Data/PolitiFact/UserFeature.mat
./Data/news_cleaned_2018_02_13.csv